.complete{
  text-decoration: line-through;
}

nav ul{
  list-style: none;
  margin-top:1%;
}
nav ul li a{
  text-decoration: none;
  color: black;
  transition: all 0.4s linear;
}
nav ul li a:hover{
  color:blue;
}



